@model StoreManager.ViewModels.Schudele.CreateScheduleViewModel

@{
    ViewData["Title"] = "CreateSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var StoreId = ViewBag.StoreId;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSchedule">
            <div class="form-group" id="UsersTemplate">
                @Html.DropDownListFor(m => m.UsersTemplate, Model.UsersTemplate, "Please select Employee", Model.UsersTemplate)
                <span asp-validation-for="UsersTemplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

